@model SupermarketManagement.Models.ViewModel.StaffsViewModel
@using SupermarketManagement.Extensions

<br />
<h2 class="text-info">Delete Staff</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Staffs.StaffID " />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Staffs.FullName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Staffs.FullName" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Staffs.Sex"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Staffs.Sex" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Staffs.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Staffs.PhoneNumber" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Staffs.Role"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Staffs.Role.RoleName" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Staffs.BirthDay"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Staffs.BirthDay" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Staffs.Address"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Staffs.Address" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Staffs.Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Staffs.Email" readonly class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Staffs.Image" width="100%" style="border-radius:5px; border: 1px solid #bbb9b9" />
        </div>
        <br\>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" asp-route-id="@Model.Staffs.StaffID" value="Delete" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

